<div id="tela_5" >
    <div class="list">
        <a href="/_empresas">
            <input type="button" class="button" value="Empresas">
        </a>
        
        <a href="/_competencias">
          <input type="button" class="button" value="Competências">
        </a>
          
        <a href="/_colaboradores">
          <input type="button" class="button" value="Colaboradores">
        </a>
	</div>
</div>