<div class="login-page">
  <div class="form">
    <form class="login-form" method="POST" action="/login">
      <div class="rh_logo">RH</div>
      <input type="text" placeholder="Username" name="username"/>
      <input type="password" placeholder="Senha" name="password"/>
      <button>Conectar</button>
      <p class="message">Esqueceu a senha?<a href="#"></a></p>
    </form>
  </div>
</div>